@import url(https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap);

body {
    font-family: 'Black Han Sans', sans-serif;
}

.title_box {
    background-color: royalblue;
    color: white;
    text-align: center;
    margin-bottom: 12px;
}

.title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.title_image {
    display: flex;
    justify-content: center;
  }

#my_image {
    width: 30%;
}

.info {
    display: flex;
    flex-direction: column;
    line-height: 1.8;
}

.github_link {
    font-style: italic;
    color: black;
}

.github_link:hover {
    color: rgb(245, 57, 88);
}
